.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  outline: solid red;
}
body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

/* header */

.header-photo {
  max-width: 177px;
}

.header-link {
  color: #292f36;
  font-size: 19px;
  line-height: 1.57;
  letter-spacing: 0.4px;
}
.header-link:hover {
  color: #cda274;
  font-size: 20px;
}
.header-list {
  display: flex;
  gap: 40px;
  margin-left: auto;
  align-items: center;
}
.header-box {
  display: flex;
}
.header {
  padding-top: 26px;
  padding-bottom: 18px;
}

/* hero */

.hero {
  padding-top: 188px;
  padding-bottom: 260px;
  background-image: url(../images/hero-bc.png);
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  color: #292f36;
  font-family: "DM Serif Display";
  font-size: 80px;
  line-height: 1.2;
  letter-spacing: 0.22px;
  max-width: 595px;
}

.hero-text {
  color: #4d5053;
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.22px;
  margin-top: 19px;
  max-width: 577px;
}

.hero-button {
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.72px;
  margin-top: 35px;
  background-image: url(../images/hero-button.jpg);
  padding: 22px 80px 22px 34px;
  border-radius: 18px;
}

.advice-list {
  display: flex;
  flex-direction: row;
}

.advice-title {
  color: #292f36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 17px;
}

.advice-subtitle {
  color: #4d5053;
  text-align: center;
  font-family: Jost;
  font-size: 22px;
  letter-spacing: 0.22px;
  line-height: 1.5;
  margin-bottom: 68px;
}

.advice-link {
  color: #4d5053;
  font-family: Jost;
  font-size: 18px;
  letter-spacing: 0.36px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.advice-item{ 
    text-align: center;
    max-width: 400px;
    outline: solid pink;
    padding-top: 75px;
    padding-bottom: 70px;
    padding-left: 51px;
    padding-right: 52px;
}

.advice-section {
    padding-top: 100px;
    padding-bottom: 100px;
}



        /* info */

.info .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-img {
  width: 34px;
  height: 34px;

}

.info-title {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px; /* 130% */
  letter-spacing: 0.22px;
}

.info-discription {
  margin-top: 42px;
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 150% */
  letter-spacing: 0.22px;
}

.info-box {
  max-width: 531px;

}

.info-text {
  color: #4D5053;
  font-family: Jost;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
  letter-spacing: 0.22px;
}

.info-text2 {
  color: #4D5053;
  font-family: Jost;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 150% */
  letter-spacing: 0.22px;
}

.info-button {
  margin-top: 50px;
  background-size: cover;
  color: #FFF;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  letter-spacing: 0.72px;
  background-color: #292F36;
  padding: 22px 80px 22px 34px;
  border-radius: 18px;
  background-repeat: no-repeat;
}

.info-img2 {
  width: 592px;
  height: 635px;
}

.info {
  padding: 0px 0px 140px 0px;
}

.info-box-container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.info-sircle {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93px;
  height: 93px;
  background-color: #F4F0EC;
  border-radius: 50%;
}

          /* personal */


.personal-img {
  width: 77px;
  height: 77px;
}

.personal-title {
  margin:  auto;
  max-width: 479px;
  color: #292F36;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: 58.5px; /* 130% */
  letter-spacing: 0.22px;
}

.personal-subtitle {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 37.5px; /* 150% */
  letter-spacing: 0.22px;
}

.personal-text {
  color: #4D5053;
  font-family: Jost;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  letter-spacing: 0.22px;
}

.personal-discription {
  max-width: 244px;
  margin: 25px 0px 0px 35px;
  color: #4D5053;
  font-family: Jost;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 0.22px;
}

.personal-item {
  width: 354px;
  height: 287px;
  border-radius: 30px;
  background: #FFF;
}

.personal-list {
  display: flex;
  justify-content: center;
  gap: 18px;
}

.personal-box-container {
  margin: 50px 0px 0px 35px;
  display: flex;
  gap: 20px;
}

.personal-container {
  padding: 103px 0px 121px 0px;
  max-width: 1200px;
  border-radius: 70px;
  background: #F4F0EC;
}